.apart {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 100px 0;
}
.apartTop {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
}
.apartTopHeader {
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 650px;
  overflow: visible;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0px;
}

.apartTopHeader h2 {
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
}

.apartTopDesc {
  box-sizing: border-box;
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 12px 0px 0px 0px;
  max-width: 350px;
  overflow: hidden;
  align-content: flex-end;
  flex-wrap: nowrap;
  gap: 24px;
}
.apartTopDesc p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--Black_200, #707070);
  text-align: right;
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
}

.cardApart {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 100px 0;
}
.apartBottom {
  width: 100%;
  min-height: 100vh;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  padding: 0px;
  align-content: flex-end;
  flex-wrap: nowrap;
  max-width: 1400px;
  background-color: #ffffff;
}

.apartBottomContent {
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  overflow: visible;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}

.apartBottomContentHeader {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  /* word-wrap: break-word;
  word-break: break-word; */
  line-height: 1.2;
}
.apartBottomContentHeader h3 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
}

.apartBottomContentDesc {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  /* word-wrap: break-word; */
  /* word-break: break-word; */
  color: var(--Black_200, #707070);
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
}

.apartBottomImageBox {
  width: 458px;
  height: 550px;
  display: block;
  max-width: 500px;
  overflow: hidden;
  aspect-ratio: 0.8333333333333334 / 1;
  border-radius: 16px;
  position: relative;
}

.apartBottomImage {
  width: 100%;
  height: 100%;
  inset: 0;
  display: block;
  overflow: visible;
  background-image: url("/mission.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
}
