.contact {
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.main {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 0px 8px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.contactSection {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 150px 24px 100px 24px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 64px;
}
.contactSectionTop {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
}

.contactSectionDetailHeader {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  overflow: visible;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.contactSectionDetailHeader p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--Primary_950, #222f04);
  text-align: center;
  line-height: 1.2;
  font-size: 72px;
  margin: 0;
}

.contactSectionDetailDesc {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 650px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.contactSectionDetailDesc p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--Black_200, #707070);
  text-align: center;
  line-height: 1.2;
  position: absolute;
  margin: 0;

  font-size: 18px;
}

.contactSectionDetail {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 650px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24px;
}

.info {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 24px 0px 24px 0px; */
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;

  border-color: #e3e3e3;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.info h5 {
  font-size: 32px;
  margin: 0;
  line-height: 1.2;
}
.info p {
  font-size: 18px;
  color: #707070;
}

.contactSectionImageBox {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1600px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
  aspect-ratio: 2.56 / 1;
  border-radius: 24px;
}

.contactSectionImage {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-image: url("/work.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

/* >>>>>>>>>>>> form section */

.formSection {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.formSectionContainer {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 24px 200px 24px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 64px;
}
.formSectionWrapper {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
}
.formSectionWrapperLeft {
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 500px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
}

.formSectionWrapperLeftHeader {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0px;
}

.formSectionWrapperLeftHeader h2 {
  font-size: 60px;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--Primary_950, #222f04);
  line-height: 1.2;
  margin: 0;
}

.formSectionWrapperLeftText {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 350px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24px;
}
.formSectionWrapperLeftText p {
  font-size: 18px;
  color: #707070;
  margin: 0;

  flex: 1;
  width: 1px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--Black_200, #707070);
  text-align: left;
  line-height: 1.2;
}

.formSectionWrapperRight {
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
}
.form {
  box-sizing: border-box;
  flex: 1;
  width: 1px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-color: #fbfbfb;
  overflow: hidden;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
}

.inputs {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  border-radius: 0px 0px 0px 0px;
}

.inputBox {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  /* gap: 8px; */
}

.inputTitle {
  width: auto;
  height: auto;
  white-space: pre;
  color: var(--Black, #0a0a0a);
  line-height: 1.2;
  font-size: 18px;
  color: #707070;
  margin: 0;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  height: 59px;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
}
.submitButton {
  box-sizing: border-box;
  width: 240px;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px 14px 24px;
  background-color: #7fa008;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
  border-radius: 10px;

  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
