.vision {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.visionContainer {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 24px 100px 24px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.visionContainer p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 1400px;
  color: var(--Primary_950, #222f04);
  text-align: center;
  line-height: 1.2;

  font-size: 66px;

  margin: 0;
  line-height: 1.2;
}

/* visionCard */
.visionCard {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.visionCardContainer {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 24px 100px 24px;
  background-color: #ffffff;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.visionCardWrapper {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1400px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 64px;
}

.visionCardImageBox {
  flex: 1;
  width: 1px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
  aspect-ratio: 1.1833333333333333 / 1;
}

.visionCardImage {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  gap: 20px;
  background-image: url("/vision.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.visionCardContent {
  flex: 1;
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}

.visionCardContentHeader {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0px;
}
.visionCardContentHeader p {
  font-size: 60px;
  margin: 0;
  line-height: 1.2;
}

.visionCardContentDesc {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 650px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
}

.visionCardContentDesc p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  color: var(--Black_200, #707070);
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
}

/* mission card */

.missionCard {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.missionCardContainer {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 24px 100px 24px;
  background-color: #ffffff;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0px;
}

.missionCardWrapper {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1400px;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 64px;
}

.missionCardContent {
  flex: 1;
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}

.missionCardContentHeader {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0px;
}

.missionCardContentHeader p {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  color: var(--Primary_950, #222f04);
  line-height: 1.2;
  font-size: 60px;
  margin: 0;
  line-height: 1.2;
}
.missionCardContentDesc {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24px;
  font-size: 18px;
  color: #707070;
  margin: 0;
  line-height: 1.2;
}

.missionCardImageBox {
  flex: 1;
  width: 1px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  aspect-ratio: 1.1166666666666667 / 1;
}

.missionCardImage {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  gap: 20px;
  background-image: url("/mission.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
